.boundary {
    width: 400px;
    height: 600px;
    background-size: 4% 2.667%;
    position: relative;
    background-image:
    linear-gradient(to right, rgb(204, 204, 204) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(204,204,204), transparent 1px);
}

.platform {
    width: 85px;
    height: 15px;
    background: linear-gradient(to bottom, green 0%, rgb(15, 78, 15) 100%);
    position: absolute;
    border-radius: 75px;
}

.character {
    width: 70px;
    height: 70px;
    position:absolute;
    content:url(doodle_character.png);
}​