.boundary {
    width: 400px;
    height: 600px;
    background-size: 6% 4%;
    position: relative;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.platform {
    width: 85px;
    height: 15px;
    background-color: rgb(29, 95, 29);
    position: absolute;
}

.character {
    width: 60px;
    height: 80px;
    position:absolute;
    content:url(doodle_character.png);
}​